<li >
	
		<span class=<%="striker" if list.completed == true%>><%= list.content %></span>

		<% if logged_in? && current_user.admin %>
			
				<%=link_to "delete", list, method: :delete,
											data: {confirm: "You sure?"} %>
			
				<%=link_to "complete", list, method: :patch %>
		
		<% end %>
	
</li>