<div class="mobile_front">
	<%= link_to mobile_news_url, {:class => "button_link_format"} do %>
		<div class="big_button yellow_button">
			<h1 class="button_title">News</h1>
		</div>
	<% end %>
	<%= link_to mobile_projects_url, {:class => "button_link_format"} do %>
		<div class="big_button green_button">
			<h1 class="button_title">Projects</h1>
		</div>
	<% end %>
	<%= link_to wuds_url, {:class => "button_link_format"} do %>
		<div class="big_button blue_button">
			<h1 class="button_title">WUDS</h1>
		</div>
	<% end %>
	<%= link_to mobile_resources_url, {:class => "button_link_format"} do %>
		<div class="big_button pink_button">
			<h1 class="button_title">Resources</h1>
		</div>
	<% end %>
</div>
