<li id="mypost-<%= mypost.id %>" class="each_post">

  <span class="title">
  	<h5>
  		<%= link_to mypost.title, mypost %>
  	</h5>
  </span>
  	<div  class="full_post">
	  	<div class="spacer">
	  	</div>
	  	<div class="post_indent">
		  <span class="content"><%= simple_format(mypost.content) %></span>
		  
		  	<span class="time">- Last updated <%= time_ago_in_words(mypost.created_at) %> ago</span>
		</div>
	</div>

 
</li>
