<div class="main_pane">
	<div class="pane_head">
		<h1>Objective</h1>
	</div><p>
		There are three main points that I am attempting to accomplish with Code Recon.<br><br>
		First, to provide a place to learn about programming and web development. In getting to my current level of understanding I have hit upon countless websites of others attempting to condense knowledge down into an easily digestible format. These websites, from the blog to the conglomerate, have been so helpful, and so I hope to in some small way contribute back to this pool of information. 

		 <br><br>

		Second, a testing ground for myself to put out new features and ideas in a production environment. <br><br>

		Third, to have a place to update the world on my thoughts and projects that I am currently focused on.</p>
	<div>
	<p></p>
	</div>
	<div class="pane_head">
		<h1>List of Features to Add</h1>
	</div>
	<div>
	<p>Below are a list of features that I would like to incorporate into the site. I have included these in order to give an example of what it might be like to maintain, run and build a website. As they are each included, I will cross them off the list, leaving a trail of completed tasks.  I have decided to add this list as one of the first features of the site so that as the site grows, it is possible to look back on what has been accomplished. Also, with the site currently being low on content, by publishing next steps here, I can hopefully incur a compounding effect. <br><br>The following list has been implemented using the RAILS MVC. As an administrator, I am able to quickly add to the list from a text box and then submit each feature as a text variable. I also have the ability to toggle whether the item has been completed from this menu. There appears to be some debate as to if this is a RESTful implementation due to the fact that as I press the "completed," button, this toggle is two seperate actions(one to strikethrough the word, one to remove the strikethrough) and that the toggle in itself is a singular consistent action. Please feel free to weigh in below(After the ability to comment is added)!</p>
	</div>

	<div class="pane_content">
		<%= render List.all %>
	</div>

	<% if logged_in? && current_user.admin %>
		<div>
			<%= form_for(@list) do |f| %>
			  
			   <%= f.text_area :content, placeholder: "Add a list item..." %>
			  </div>
			  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	<% end %>
	
</div>
