<div>
	<h3 class="project_title">In Ruby, Everything is an Object</h3>
</div>
<div class="pane_head"></div>

<p>"The language for programmer happiness." As quoted across the internet. And there is something enjoyable about writing in Ruby. I remember first realizing that my statements didn't need a semi-colon at the end of each statement. It was like writing without putting periods at the end of sentences. How does the computer know when I'm done!? It took a few minutes to figure out that the text editor has a couple invisible bits that denote a new line. Of course this had to be so, but I had not realized it previously. Currently, while trying to go deeper with javascript I even find it unusual when the semi-colon is required. <br><br>

In the end, Ruby is a language like any other. Useful for some things due to libraries that exist for it(Gems, in Ruby), but can be used for a wide range of software problems. <br><br>

A <a href="https://en.wikipedia.org/wiki/High-level_programming_language">high level language,</a> capable of accomplishing a lot quickly at the expense of efficiency while actually running the code.<br><br>

Fortunately this hasn't turned out to be a problem for me yet. And writing <a href="programmers.stackexchange.com/questions/53624/can-c-be-used-as-a-server-side-web-development-language">a web site with C++</a> turns out to be a little difficult, although doable.<br><br>


Again, Ruby is just a language, so a lot of what can be done with it is doable other languages or will translate well into other languages. Programming is about breaking down a problem into a small enough subset in order to make sense of it and then putting those pieces back together to create software. What language is used is all about efficieny tradeoffs; programming economics. For me, Ruby has been fantastic for Web Development thus far.<br><br>

With that I'll leave off with a few example's of simplistic ruby code. <br><br></p><br></p>

<pre class="ruby_pre">
print "Hello world!!"
</pre>
<p>Will output:</p>
<pre class="ruby_pre">
Hello World!!
</pre><br><br>
<p>And</p>

<pre class="ruby_pre">
for i in 0..5
	puts i
end
</pre>
<p>Will output:</p>
<pre class="ruby_pre">
0
1
2
3
4
5
</pre>






