
@import "bootstrap-sprockets";
@import "bootstrap";


html body{
	background-color: rgb(48,10, 36);
}
h1{
	color: white
}
h4{
  color: white;
  font-size: 12pt;
}

h5{
  color: white;
  font-size: 18pt;
  margin-top: 40px;
  margin-bottom: 25px;
}
li{
  color: white;
}

/* footer */
html{
	position: relative;
	min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    padding: 25px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   box-sizing: border-box;

}

.footer_tab{
	height: 100%;
	width: 20%;
	padding: 0;
	margin: 0;
	display: inline-block;

}
.footer_word{
	margin: 0;
	padding: 0;
	margin-top: 5px;
}



/* Sign up */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}

label{
	color: white;
}

.signup_holder{
	max-width: 100%;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* forms  */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#mypost_content{
  height: 800px;
}

/* alert  */

.alert{
	background-color: white;
}

/* Myposts */

.content {
  color: white;
}

.timestamp{
  color: white;
}

p{
  color:white;
}

li{
  list-style: none;
}
.col-md-8{
  margin-bottom: 100px;
}
.time{
  color: white;
}


/* Header */

.divider{
  height: 1px;
  width: 80%;
  background-color: white;
}