
@import "bootstrap-sprockets";
@import "bootstrap";


html body{
	background-color: rgb(48,10, 36);
}
h1, h2{
	color: white

}
h1 a, h2 a, h3 a, h5 a{
  color: white;
  text-decoration: none;
  font-family: 'Roboto'
}
a{
  color: white;
  text-decoration: underline;
}
p a {
  color:    #228B22;
}
h1 a, h1 a:hover{
  color:    #D80000 ;
  text-decoration: none;
}
a:hover{
  color: green;
}

p{
  color:white;
  font-family: "Roboto Slab";
  font-size: 18px;
  line-height: 30px;
}

ol{
  list-style: none;
}

h3{
  color: white;
  font-family: 'Roboto'

}
h4{
  color: white;
  font-size: 12pt;
}

h5{
  color: white;
  font-size: 18pt;
  margin-top: 40px;
  margin-bottom: 25px;
}
li{
  color: white;
}
p{

}
/* footer */
html{
	position: relative;
	min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    padding: 25px;
    width: 100%;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   padding-top: 5px;


}

.footer_tab{
	height: 100%;
	width: 10%;
	padding: 0;
	margin: auto;
  margin-left: 20px;
	display: inline-block;


}
.footer_word{
	margin: 0;
	padding: 0;
	margin-top: 5px;
  line-height: 0;
  color: black;
}



/* Sign up */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}

label{
	color: white;
}

.signup_holder{
	max-width: 100%;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* forms  */
.new_mypost{
  width: 100%;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#mypost_content{
  height: 800px;
}

/* alert  */

.alert{
	background-color: white;
}

/* Myposts */

.content {
  color: white;
  
}
.post_indent{
  width: 90%;
  display:inline-block;

}
.full_post{
  width: 100%;
 
  
}
.spacer{
  width:5%;
  height: 200px;
  display:inline-block;
}
.timestamp{
  color: white;
}

.time{
  clear: both;
}

.col-md-8{
  margin-bottom: 100px;
  width: 100%;
  display: inline-block;
}
.time{
  color: white;
}


/* Header */

.divider{
  height: 1px;
  width: 80%;
  background-color: white;
}



/* Encyclopedia List */
#sidebar{
  width: 20%;
  float:right;
}
.encyclopedia_list{
  border-left: white 1px solid;

  border-radius: 25px;
 
  display: inline-block;
  margin-right: 5%;
  
  padding-bottom: 40px;
  padding-right: 5%;
  width: 100%;

  
}

.encyclopedia_list ul{
  margin-top: 30px;
  margin-right: 0;
  list-style: none;

}

.side_header p {
  text-color: white;
}
.side_headers{
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;


}



/* Pages General */

.main_pane{

  display: inline-block;
  width: 70%;
}
.pane_head{
  text-align: left;
  margin-top: 30px;
}

.pane_content{
  margin-top: 25px;
  margin-left: 50px;
}
.project_title{
  margin-top: 30px;
    text-align: center;

}

.ruby_pre{
  width: 25%;
  padding-bottom: 5;
  margin-bottom: 5;
  border-bottom: 0;
}

/* Lists */

.striker {
  text-decoration: line-through;
}

/* Comments */

.comment_format{
  border-left: 1px solid white;
  padding-left: 10px;
  border-top: 1px solid white;
  padding-top: 5px;
}