.mobile_pane{
	width: 100%;
	display: inline-block;

	p, h3{
		font-size: 60px;
		line-height: 80px;
	}

	h3{
		text-align: center;
	}
	h5 a{
		font-size: 60px;
	}
	.mobile_time{
		font-size: 30pt;
	}

}
.mobile_title{
	font-size: 100px;


}
.mobile_divider{
  height: 1px;
  width: 100%;
  background-color: white;

}
.mobile_head{
	width: 100%;
}
.head_left {

	display: inline-block;
	text-align: left;
}

.head_right{
	margin-left: 10px;
	display: inline-block;
	h4{
		font-size: 25px;
	}
}

/* Mobile Front Page */

.mobile_front{
	width: 100%;
	height: 100%;
	div {
		border: 5px solid white;
	}
	.yellow_button{
		background:rgb(200,200,30);
	}
	.green_button{
		background:rgb(0,200,0);
	}
	.blue_button{
		background:rgb(0,0,200);
	}
	.pink_button{
		background:rgb(200,0,200);;
	}
	.orange_button{
		background:rgb(255,165,0);
	}
	.black_button{
		background:rgb(0,0,0);
	}
	.light_blue_button{
		background: #00DEFF;	
	}
	.red_button{
		background: #FF0044;
	}

}
.big_button{
	width: 95%;
	height: 200px;
	border-radius: 25px;
	margin: auto;
	margin-top: 50px;



}

.button_title{
	color: white;
	font-size: 130px;
	text-align: center;
}

.button_link_format{
	text-decoration: none;
}