.mobile_pane{
	width: 100%;
	display: inline-block;
	margin-top: 30px;

	p{
		font-size: 60px;
		line-height: 80px;
	}

	.mobile_time{
		font-size: 30pt;
	}
	.wuds_photo{
		margin-top: 0;
	}
}

h3{
	font-size: 90px;
}
h5 a{
	font-size: 100px;
	color:rgb(200,165,0);
	text-align: center;

}
.mobile_title{
	font-size: 120px;


}
.mobile_divider{
  height: 1px;
  width: 100%;
  background-color: white;

}
.mobile_head{
	width: 100%;
}
.head_left {

	display: inline-block;
	text-align: left;
	h4{
		font-size: 35px;
	}
}

.head_right{

	float: right;
	margin-top: 30px;
	margin-right: 40px;
	display: inline-block;
	
}

.home_icon{
	height: 100pt;
}

/* Mobile Front Page */

.mobile_front{
	width: 100%;
	height: 100%;
	div {
		border: 5px solid white;
	}
	.yellow_button{
		background:rgb(200,200,30);
	}
	.green_button{
		background:rgb(0,200,0);
	}
	.blue_button{
		background:rgb(0,0,200);
	}
	.pink_button{
		background:rgb(200,0,200);;
	}
	.orange_button{
		background:rgb(200,165,0);
	}
	.black_button{
		background:rgb(50,50,50);
	}
	.light_blue_button{
		background: rgb(0,200,225);	
	}
	.red_button{
		background: rgb(200,0, 90);
	}

}
.big_button{
	width: 95%;
	height: 200px;
	border-radius: 25px;
	margin: auto;
	margin-top: 50px;



}

.button_title{
	color: white;
	font-size: 130px;
	text-align: center;
}

.button_link_format{
	text-decoration: none;
}

.smaller{
	width: 90%;
	align: right;
	.button_title{
		font-size: 110px;
	}
}

.huge{
	height: 100%;
	padding-bottom: 30px;
}

/* Projects */

.project_title{
	color: rgb(0,200,225);
}

li{
	font-size: 35pt;
}

/* WUDS */

.wuds_photo{
	width: 100%;

}

.wuds_image{
	border-radius: 50px;
	margin: 30px;
}
.microposts .wuds_photo{
	width: 40%;
}


.ruby_pre{
	font-size: 40pt;
	width: 100%;
}