
<div id="sidebar">
	<div class="side_headers"> <p>Toolsets</p></div>
	<div class="encyclopedia_list">
		<ul>
			<li>
				<span>
					Ruby
				</span>
			</li>
			<li>
				<span>
					Rails
				</span>
			</li>
			<li>
				<span>
					HTML
				</span>
			</li>
		</ul>
	</div>
	<div class="side_headers"> <p>Web Dev Projects</p></div>
	<div class="encyclopedia_list">
		<ul>
			<li>
				<span>
					<%= link_to "Code Recon", code_recon_todo_path %>
				</span>
			</li>
			<li>
				<span>
					<%= link_to "Aggragate", aggregate_todo_path %>
				</span>
			</li>
			<li>
				<span>
					Knowledge Center
				</span>
			</li>
		</ul>
	</div>
	<div class="side_headers"> <p>Programming Projects</p></div>
	<div class="encyclopedia_list">
		<ul>
			<li>
				<span>
					WUDS
				</span>
			</li>
			<li>
				<span>
					Reddit Bot
				</span>
			</li>
			<li>
				<span>
					Web Scraper
				</span>
			</li>
		</ul>
	</div>
</div>